*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body,html{
    font-family: sans-serif;
    background-color: cadetblue;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
}
header nav{
    max-width: 800px;
    width: 100%;
    margin-top: 15px;
}
header nav ul{
    display:flex ;
    width: 100%;
    justify-content: space-around;
}
header nav ul li{
    flex: 1;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    justify-content: stretch;
}
header nav ul li a{
    color: white;
    width: 50px;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
}
header nav ul li a:hover{
    border: 2px solid rgb(50, 114, 117);
}
header nav ul li h1{
    font-size: 25px;
    color: rgb(211, 210, 210);
    font-weight: bold;
}
section{
    max-width: 800px;
    margin: 40px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.palavra{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
}
.letra{
   height: 50px;
   width: 50px;
   border: 3px solid rgb(50, 114, 117);
   border-radius: 7px;
   cursor: pointer;
   font-size: 2.5rem;
   color: white;
   text-align: center;
   text-transform: uppercase;
   line-height: 45px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.palavra:not(.palavra.active) .letra{
    background-color: rgb(50, 114, 117);
    cursor:default;
}
.letra:focus{
    outline: none;
    border-bottom: 5px solid rgb(50, 114, 117);
    border-radius: 7px;
}
.letra.contem:focus,.letra.correto:focus{
    outline: none;
    border-bottom: none;
    border-radius: 7px;
}
.contem{
    border-color: #d3ad69 !important;
    background-color: #d3ad69;
}
.correto{
    border-color: #3aa394 !important;
    background-color: #3aa394;
}
.dialogo{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tutorial{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    max-width: 25rem;
    background-color: white;
    border-radius: 15px;
    opacity: 1;
    padding: 1.5rem 1rem;
    z-index: 12;
    gap: 15px;
    color: rgb(107 114 128);
}
.tutorial .topo{
    display: flex;
    width: 100%;
    max-width: 28rem;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: black;
}
.tutorial .topo span{
    position: absolute;
    top: 18px;
    right: 20px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

.dialogo-fundo{
    position: fixed;
    background-color: rgb(107,114,128,0.75);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.grupo{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 35px;
    font-weight: bold;
    margin: 10px 40px;
    color: black;
}
.grupo span{
    flex: 1;
    border: 2px solid black;
    padding: 5px;
    border-radius: 8px;
}
.mensagem {
    display: none;
}
.mensagem div{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
}
.mensagem h2{
    text-align: center;
}
section span{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.excluir{
    opacity: 0.1;
}